################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GeneralService/obj/Debug
/BLL/obj/Debug
/DBUtility/obj/Debug
/GeneralService/scripts
